
.social-media-generator {
    position:relative;
    min-height: 600px;
    color: white; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 2em;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.title {
    color: white; 
    font-size: 24px; 
    text-align: center; 
    font-weight: 700;
    margin: 20px 0px 0px 0px;
    font-size: 32px;
}
.description-block {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
    max-width:800px;
    margin:auto;
    margin-top:20px;
}

.icon-container {
    display:flex;
    justify-content:center;
}

.icon-container svg {
    height: 65px; 
    width: 65px;
    margin: 20px;
    cursor: pointer;
    border: 1px solid transparent; 
    background: linear-gradient(to right, #ff7f50, #ff4500) padding-box,
                transparent border-box; 
    border-radius: 50%; 
    transition: transform 0.3s, border 0.3s;
    padding:10px;
}

.icon-container svg:hover {
    transform: scale(0.9); 
    border: 1px solid transparent; 
    background: linear-gradient(to right, #ff7f50, #ff4500) padding-box, 
    transparent border-box; 
}

.passive {
    opacity: 0.3; 
}

.to-blue-700 {
    --tw-gradient-to: transparent;
}

.from-blue-500 {
    --tw-gradient-from: transparent;
    --tw-gradient-to: rgb(59 130 246 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.premium-inner-container {
    display:flex; 
    flex-direction:column; 
    align-items:center;
    justify-content: center;
    position:absolute; 
    right:0; 
    top:0; 
}

.premium-tag {
    margin-top:2px;
}




/*Above 768px*/
@media only screen and (min-width:768px) {
    .navigation-list {
        display:flex;
    }
}

/*Below 768px*/
@media only screen and (max-width: 768px) {
    .icon-container svg {
        height: 60px; 
        width: 60px;
        margin: 2px;
        cursor: pointer;
        border: 1px solid transparent; 
        background: linear-gradient(to right, #ff7f50, #ff4500) padding-box,
                    transparent border-box; 
        border-radius: 50%; 
        transition: transform 0.3s, border 0.3s;
        padding:10px;
    }
}

/*Premium feature unlock settings*/
.not-subscribed-wrapper {
    position: relative;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    pointer-events: none;
}

.not-subscribed-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 8px;
    pointer-events: none; 
    z-index: 97; 
}
.unlock-list-wrapper {
    max-width:400px;
    display:flex; 
    justify-content:center; 
    align-items:center;
    flex-direction:column;
    margin:auto;
}
.unlock-title {
    font-family: Inter, sans-serif;
    font-size: 2rem;
    text-align: center;
    line-height: normal;
    font-weight: 700;
    color: black;
    margin-top: 12px;
    margin-bottom: 10px;
}

.unlock-description {
    max-width: 800px;
    margin: auto;
    font-family: Inter, sans-serif;
    margin-bottom: 20px;
    color: black;
    font-size: 1rem;
}
.get-premium-button {
    position: relative;
    padding: 8px 28px;
    border-radius: 6px;
    background: linear-gradient(to right, #ff7f50, #ff4500);
    color: white;
    overflow: hidden;
    transition: all 0.3s ease;
    transform: scale(1);
    margin-top: 18px;
    z-index:99;
    cursor: pointer;
    pointer-events: auto;
}
.unlock-section-wrapper {
    color: black;
    z-index: 98;
    position: absolute;
    left: 50%;              /* Move the element to the center */
    transform: translateX(-50%); /* Offset by 50% of its width to truly center */
}

@media only screen and (max-width:768px) {
    .unlock-list-wrapper {
        font-size:14px;
    }
}