@media (prefers-color-scheme: dark) {
    .dark\:border-indigo-600 {
        --tw-border-opacity: 1;
        border-color: #ff4500 !important;
    }
}

@media (prefers-color-scheme: dark) {
    .dark\:border-indigo-600 {
        --tw-border-opacity: 1;
        border-color: #ff4500 !important;
        font-size: 16px;
    }
}
@media (prefers-color-scheme: dark) {
    .dark\:bg-indigo-900\/50 {
        background-color: rgba(255, 69, 0, 0.5);
    }
}
@media (prefers-color-scheme: dark) {
    .dark\:text-indigo-300 {
        --tw-text-opacity: 1;
        color: white;
    }
}
.space-x-8 > :not([hidden]) ~ :not([hidden]) {
    font-size: 16px;
}

.dash-image-notice {
    padding-top:0.5em; 
    padding-bottom:0.5em;
    padding-left:3em;
    padding-right:3em;
    background:#e5e7eb;

}

/*Deletion modal*/

.modal {
    background-color: #111829;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    color:white;
    min-width:800px;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Edit modal*/

.editform {
    display:flex; 
    justify-content:space-between; 
    flex-direction: column;
    gap: 20px;

}
.edit-postheadline, .edit-postarea {
    background-color: white;
    color:black;
    border-radius:4px;
}
.edit-postarea {
    min-height:300px;
}
.editsubmit {
    padding: 10px 20px;
    background: linear-gradient(to right, #ff7f50, #ff4500);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:50%;
    margin-right:10px;
}
.editcancel {
    padding: 10px 20px;
    background: transparent; 
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    width:50%;
    margin-left:10px;
}
.submit-buttoncontainer {
    display:flex; 
    justify-content: space-between;
}
.view-post {
    width:800px;
}

.publish-button {
    padding: 10px 20px;
    background: linear-gradient(to right, #ff7f50, #ff4500);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom:20px;
}
.close-button {
    padding: 10px 20px;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-left: 10px;
}

.button-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    flex-direction: row;
    height: 100px;
}
.button {
    padding: 0.2em 2em;
    background:black;
    margin-left:2px;
    margin-right:2px;
    position: relative;
    padding: 8px 28px;
    border-radius: 6px;
    background: linear-gradient(to right, #ff7f50, #ff4500);
    color: white;
    overflow: hidden;
    transition: all 0.3s ease;
    transform: scale(1);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}


@media only screen and (max-width:768px) {
    .view-post {
        width:unset;
    }
    .editsubmit,.editcancel {
        margin-right:0px;
        margin-left:0px;
        width: 100%;
    }
    .editcancel {
        margin-top:10px;
    }
    .submit-buttoncontainer {
        display:block;
    }
    .modal {
        min-width:360px;
    }
}