
.social-media-generator {
    min-height: 600px;
    background: linear-gradient(to right, black, #2e2e2e, black); 
    color: white; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 6em 2em;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.title {
    font-family: Inter, sans-serif;
    font-size: 3.2rem;
    text-align: left;
    line-height: normal;
    font-weight: 700;
    color: white;
    text-align:center;
    margin-top: 12px;
    margin-bottom: 12px;
}
.description-block {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
    max-width:800px;
    margin:auto;
    margin-top:20px;
}

.icon-container {
    display:flex;
    justify-content:center;
}

.icon-container svg {
    height: 65px; 
    width: 65px;
    margin: 20px;
    cursor: pointer;
    border: 1px solid transparent; 
    background: linear-gradient(to right, #ff7f50, #ff4500) padding-box,
                transparent border-box; 
    border-radius: 50%; 
    transition: transform 0.3s, border 0.3s;
    padding:10px;
}

.icon-container svg:hover {
    transform: scale(0.9); 
    border: 1px solid transparent; 
    background: linear-gradient(to right, #ff7f50, #ff4500) padding-box, 
    transparent border-box; 
}

.passive {
    opacity: 0.3; 
}



/*Above 768px*/
@media only screen and (min-width:768px) {
    .navigation-list {
        display:flex;
    }
}

/*Below 768px*/
@media only screen and (max-width: 768px) {
    .icon-container svg {
        height: 50px; 
        width: 50px;
        margin: 2px;
        cursor: pointer;
        border: 1px solid transparent; 
        background: linear-gradient(to right, #ff7f50, #ff4500) padding-box,
                    transparent border-box; 
        border-radius: 50%; 
        transition: transform 0.3s, border 0.3s;
        padding:10px;
    }
    .wrapper {
        padding:2em;
    }
    .description-block {
        font-size: 1rem;
        color: #A8ACB7;
    }
    .title {
        font-size:2rem;
        padding-top:1em;
    }
}

@media only screen and (max-width:600px) {
    .social-media-generator {
        padding:0; 
        display:block;
    }
}
