.navigation-menu {
    display: flex;
    justify-content: space-between; /* Space between logo and menu */
    align-items: center; /* Center items vertically */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(34, 34, 34, 0.9)); /* Darker black gradient */
    padding: 10px 20px; /* Adjust padding */
    box-shadow: 0 2px 0 orange; /* 1px solid bottom shadow in orange */
}
.nav-wrapper {
    width:1300px;
    display:flex; 
    justify-content: space-between;
    margin:auto;
    z-index:12;
}
.d-flex {
    display:flex;
}

.a-center {
align-items:center;
}

.logo-container {
    flex: 1; /* Allow the logo container to take space */
}

.logo {
    max-height: 50px; 
    min-width: 70px;
    min-height: 70px;
}

.navigation-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-item {
    margin: 0 15px; 
}
.navigation-link:hover {
    color: white; /* Change text color on hover */
}

.navigation-link {
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline */
    font-size: 1.2em; /* Adjust font size */
    transition: color 0.3s;
}


.mobile-menu-toggle {
    font-size: 1.8em; /* This will change the size of the SVG icon */
    color: #fff; /* Icon color */
    cursor:pointer;
}

.navigation-item-highlighted {
    position: relative; /* To position the icon absolutely */
    padding: 8px 28px;
    border-radius: 6px;
    background: linear-gradient(to right, #ff7f50, #ff4500);
    color: white; 
    overflow: hidden; /* Hide the overflowing icon */
    transition: all 0.3s ease; /* Smooth transition for all properties */
    transform: scale(1); /* Default scale */
}

.navigation-item-highlighted:hover {
    transform: scale(0.96); /* Shrink the item on hover */
}

/* Background fill effect */
.navigation-item-highlighted::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.3); /* Light overlay */
    transform: translateX(-100%); /* Start from the left */
    transition: transform 1s ease; /* Fill background over 4 seconds */
}

.navigation-icon {
    margin-left: 10px; /* Space between text and icon */
    opacity: 0; /* Hide icon initially */
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
}
.logo {
    padding-top:10px;
    padding-bottom:10px;
}

@media (min-width:768px) {
    .mobile-menu-toggle {
        display:none;
    }
}

@media (max-width: 768px) {
    .navigation-list {
        display: none; /* Hide menu by default on mobile */
        flex-direction: column; /* Stack items vertically */
        position: absolute; /* Position menu */
        top: 60px; /* Adjust as needed based on your design */
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.9); /* Background for the dropdown */
        padding: 10px 0; /* Padding for dropdown */
        z-index: 1; /* Ensure it appears above other content */
        margin-top:33px;
    }

    .navigation-list.active {
        display: flex; 
        z-index:10;
    }

    .mobile-menu-toggle {
        display:block;
        color:white; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation-item {
        margin: 10px 0; /* Spacing for mobile items */
        text-align: center; /* Center items */
    }
}