.menu-item {
    font-size:16px;
}

.subscription-wrapper {
    display:flex; 
    align-items:center;
    justify-content:flex-end;
    gap:10px;
}
.subscription-link {
    position: relative;
    padding: 8px 28px;
    border-radius: 6px;
    background: linear-gradient(to right, #ff7f50, #ff4500);
    color: white;
    overflow: hidden;
    transition: all 0.3s ease;
    transform: scale(1);
}
.subscription-status {
    color:white;
}

@media only screen and (max-width:1200px) {
    .subscription-status {
        display:none;
    }
}
